pat_pnrr_ssu/moduli_pat/04_forms/mod_pat_edilizia_comunicazione_inizio_lavori_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:speschana="../03_sections/pat_edilizia_scheda_anagrafica"
    xmlns:speoggpra="../03_sections/pat_edilizia_oggetto_pratica"
    xmlns:spedomdig="../03_sections/pat_edilizia_domicilio_digitale"
    xmlns:spediccon="../03_sections/pat_edilizia_dichiarazione_consapevolezza"
    xmlns:speinfpri="../03_sections/pat_edilizia_informativa_privacy"
    xmlns:specil="../03_sections/pat_edilizia_comunicazione_inizio_lavori"
    xmlns:speeselav="../03_sections/pat_edilizia_esecuzione_lavori"
    xmlns:mpecil="../04_forms/pat_edilizia_comunicazione_inizio_lavori"
    targetNamespace="../04_forms/pat_edilizia_comunicazione_inizio_lavori"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_scheda_anagrafica" schemaLocation="../03_sections/sec_pat_edilizia_scheda_anagrafica_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_oggetto_pratica" schemaLocation="../03_sections/sec_pat_edilizia_oggetto_pratica_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_domicilio_digitale" schemaLocation="../03_sections/sec_pat_edilizia_domicilio_digitale_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_dichiarazione_consapevolezza" schemaLocation="../03_sections/sec_pat_edilizia_dichiarazione_consapevolezza_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_informativa_privacy" schemaLocation="../03_sections/sec_pat_edilizia_informativa_privacy_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_comunicazione_inizio_lavori" schemaLocation="../03_sections/sec_pat_edilizia_comunicazione_inizio_lavori_v1.0.0.xsd"/>
    <xsd:import namespace="../03_sections/pat_edilizia_esecuzione_lavori" schemaLocation="../03_sections/sec_pat_edilizia_esecuzione_lavori_v1.0.0.xsd"/>

    <xsd:complexType name="modulo_pat_edilizia_comunicazione_inizio_lavori_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Procedimenti Edilizi Digitali</xsd:documentation>
            <xsd:documentation xml:lang="it">Comunicazione Inizio Lavori</xsd:documentation>
            <xsd:documentation xml:lang="it">Articolo 83, c. 3 della legge provinciale 4 agosto 2015, n. 15</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="sezione_pat_edilizia_scheda_anagrafica" type="speschana:sezione_pat_edilizia_scheda_anagrafica_ctype"/>
            <xsd:element name="sezione_pat_edilizia_oggetto_pratica" type="speoggpra:sezione_pat_edilizia_oggetto_pratica_ctype"/>
            <xsd:element name="sezione_pat_edilizia_domicilio_digitale" type="spedomdig:sezione_pat_edilizia_domicilio_digitale_ctype"/>
            <xsd:element name="sezione_pat_edilizia_dichiarazione_consapevolezza" type="spediccon:sezione_pat_edilizia_dichiarazione_consapevolezza_ctype"/>
            <xsd:element name="sezione_pat_edilizia_informativa_privacy" type="speinfpri:sezione_pat_edilizia_informativa_privacy_ctype"/>
            <xsd:element name="sezione_pat_edilizia_comunicazione_inizio_lavori" type="specil:sezione_pat_edilizia_comunicazione_inizio_lavori_ctype"/>
            <xsd:element name="sezione_pat_edilizia_esecuzione_lavori" type="speeselav:sezione_pat_edilizia_esecuzione_lavori_ctype"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="modulo_pat_edilizia_comunicazione_inizio_lavori" type="mpecil:modulo_pat_edilizia_comunicazione_inizio_lavori_ctype"/>
</xsd:schema>
