pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_riferimenti_pdc_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:eperifpdc="../02_entities/pat_edilizia_riferimenti_pdc"
    targetNamespace="../02_entities/pat_edilizia_riferimenti_pdc"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="entita_pat_edilizia_riferimenti_pdc_ctype">
        <xsd:sequence>
            <xsd:element name="protocollo_pdc" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_rilascio_pdc" type="ctipi:ggmmaaaa_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_inizio_pdc" type="ctipi:ggmmaaaa_stype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="riferimenti_pdc" type="eperifpdc:entita_pat_edilizia_riferimenti_pdc_ctype"/>
</xsd:schema>
