pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_documento_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:vpepergen="../01_vocabularies/pat_edilizia_persona_genere"
    xmlns:edocril="../02_entities/pat_edilizia_documento"
    targetNamespace="../02_entities/pat_edilizia_documento"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    
    <xsd:complexType name="entita_pat_edilizia_documento_ctype">
        <xsd:sequence>
            <xsd:element name="tipo" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:TipiDocumentoIdentita</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numero" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ente_rilascio" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_rilascio" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_scadenza" type="xsd:date" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="entita_pat_edilizia_documento" type="edocril:entita_pat_edilizia_documento_ctype"/>
</xsd:schema>
