pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_domicilio_digitale_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epedomdig="../02_entities/domicilio_digitale"
    targetNamespace="../02_entities/domicilio_digitale"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="entita_pat_edilizia_domicilio_digitale_ctype">
        <xsd:sequence>
            <xsd:element name="domicilio_inad_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="domicilio_inad_string" type="ctipi:email_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="domicilio_ini_pec_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="domicilio_ini_pec_string" type="ctipi:email_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="elegge" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="domicilio_eletto" type="ctipi:email_stype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="domicilio_digitale" type="epedomdig:entita_pat_edilizia_domicilio_digitale_ctype"></xsd:element>
</xsd:schema>
