pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_indirizzo_estero_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epeindest="../02_entities/pat_edilizia_indirizzo_estero"
    targetNamespace="../02_entities/pat_edilizia_indirizzo_estero"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:simpleType name="descrizione_indirizzo_estero_stype">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="codice_postale_estero_stype">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="localita_estero_stype">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
            <xsd:minLength value="1"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="entita_pat_edilizia_indirizzo_estero_ctype">
        <xsd:sequence>
            <xsd:element name="descrizione" type="epeindest:descrizione_indirizzo_estero_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_postale" type="epeindest:codice_postale_estero_stype" minOccurs="1" maxOccurs="1"/>            
            <xsd:element name="localita_estero" type="epeindest:localita_estero_stype" minOccurs="1" maxOccurs="1"/>    
            <xsd:element name="stato_estero" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>                            
                        </canncl:codeListReference>                        
                    </xsd:appinfo>                    
                </xsd:annotation>                               
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>      
    
    <xsd:element name="entita_pat_edilizia_indirizzo_estero" type="epeindest:entita_pat_edilizia_indirizzo_estero_ctype"/>    
</xsd:schema>
