pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_cittadinanza_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epecitt="../02_entities/pat_edilizia_cittadinanza"
    targetNamespace="../02_entities/pat_edilizia_cittadinanza"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    
    <xsd:complexType name="entita_pat_edilizia_cittadinanza_ctype">
        <xsd:sequence>
            <xsd:element name="stato_cittadinanza" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>                            
                        </canncl:codeListReference>                        
                    </xsd:appinfo>
                </xsd:annotation>                  
            </xsd:element>
        </xsd:sequence>        
    </xsd:complexType>      
    
    <xsd:element name="entita_pat_edilizia_cittadinanza" type="epecitt:entita_pat_edilizia_cittadinanza_ctype"/>
</xsd:schema>
