pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_domicilio_digitale_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epedomdig="../02_entities/pat_edilizia_domicilio_digitale"
    targetNamespace="../02_entities/pat_edilizia_domicilio_digitale"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="entita_pat_edilizia_domicilio_digitale_ctype">
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation xml:lang="it">Domicilio digitale</xsd:documentation>
                <xsd:documentation xml:lang="it">Il/La sottoscritta/o, consapevole che il domicilio digitale è l'indirizzo elettronico eletto presso un servizio di posta elettronica certificata o un servizio elettronico di recapito certificato qualificato, come definito dal regolamento UE 23 luglio 2014 n. 910 eIDAS valido ai fini delle comunicazioni avente valore legale</xsd:documentation>
                <xsd:documentation xml:lang="it">COMUNICA</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="domicilio_inad_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">ai sensi dell'art. 3-bis e dell'art. 6 del D.lgs n. 82/2005</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domicilio_inad_string" type="ctipi:email_stype" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">il domicilio digitale inserito in INAD (art.6-quater, D.lgs n. 82/2005)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domicilio_ini_pec_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Che cos'è il domicilio digitale?</xsd:documentation>
                    <xsd:documentation xml:lang="it"> - Il domicilio digitale è un indirizzo elettronico eletto presso un servizio di posta elettronica certificata o un servizio elettronico di recapito certificato qualificato, come definito dal regolamento UE 23 luglio 2014 n. 910 del Parlamento europeo e del Consiglio in materia di identificazione elettronica e servizi fiduciari per le transazioni elettroniche nel mercato interno e che abroga la direttiva 1999/93/CE Regolamento valido ai fini delle comunicazioni elettroniche aventi valore legale. (Art. 1, comma 1, lett. n ter del D. lgs. 82/2005 Codice dell'amministra zione digitale, CAD)</xsd:documentation>
                    <xsd:documentation xml:lang="it"> - I soggetti tenuti all'iscrizione nel registro delle imprese e i professionisti tenuti all'iscrizione in albi ed elenchi hanno l'obbligo di dotarsi di un domicilio digitale iscritto nell'Indice nazionale dei domicili digitali (INI PEC) delle imprese e dei professionisti (Art. 3-bis, comma 1 del CAD).</xsd:documentation>
                    <xsd:documentation xml:lang="it"> - Le persone fisiche e i professionisti non iscritti in albi, registri o elenchi professionali possono iscrivere un loro domicilio elettronico nell'elenco dei domicili digitali delle persone fisiche, dei professionisti e degli altri enti di diritto privato (INAD) (Art. 3-bis, comma 1-bis del CAD)</xsd:documentation>
                    <xsd:documentation xml:lang="it"> - È possibile eleggere anche un domicilio digitale speciale per determinati atti, procedi menti o affari. In tal caso, ferma restando la validità ai fini delle comunicazioni elettroniche aventi valore legale, colui che lo ha eletto non può opporre eccezioni relative alla forma e alla data della spedizione e del ricevimento delle comunicazioni o notificazioni ivi indirizzate (Art. 3-bis, comma 4-quinques del CAD)</xsd:documentation>
                    <xsd:documentation xml:lang="it"> - Le comunicazioni tramite i domicili digitali sono effettuate agli indirizzi inseriti in INI PEC o INAD o a quello eletto come domicilio speciale per determinati atti o affari. Le comunicazioni elettroniche trasmesse a uno di questi domicili digitali producono, al momento della spedizione e del ricevimento, gli stessi effetti giuridici delle comunicazioni a mezzo raccomandata con ricevuta di ritorno ed equivalgono alla notificazione per mezzo della posta salvo che la legge disponga diversamente. Le suddette comunicazioni si intendono spedite dal mittente se inviate al proprio gestore e si intendono consegnate se rese disponibili al domicilio digitale del destinatario, salva la prova che la mancata consegna sia dovuta a fatto non imputabile al destinatario medesimo (Art. 6 del CAD).</xsd:documentation>
                    <xsd:documentation xml:lang="it">Domicilio elettronico (domicilio digitale speciale)</xsd:documentation>
                    <xsd:documentation xml:lang="it">Per tutti gli atti e le comunicazioni inerenti il procedimento ELEGGE il seguente domicilio digitale speciale (art. 3-bis, comma 4-quinquies del D. lgs. n. 82/2005):</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domicilio_ini_pec_string" type="ctipi:email_stype" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Si dichiara di essere consapevoli che nel caso non venga indicata una casella di posta elettronica certificata (PEC), non si avrà la certezza del buon esito dell'eventuale scambio di comunicazioni che seguiranno la presente istanza</xsd:documentation>
                    <xsd:documentation xml:lang="it">Inserire l'indirizzo della casella PEC a cui lo Sportello dovrà inviare la ricevuta e le altre comunicazioni relative alla pratica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="domicilio_digitale" type="epedomdig:entita_pat_edilizia_domicilio_digitale_ctype"></xsd:element>
</xsd:schema>
