pat_pnrr_ssu/moduli_pat/02_entities/ent_pat_edilizia_dati_catastali_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epedatcat="../02_entities/pat_edilizia_dati_catastali"
    targetNamespace="../02_entities/pat_edilizia_dati_catastali"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="particella_fondiaria_ctype">
        <xsd:sequence>
            <xsd:element name="codice_particella_fondiaria" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_comune_catastale" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_porzione_materiale" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_subalterno" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="particella_edificiale_ctype">
        <xsd:sequence>
            <xsd:element name="codice_particella_edificiale" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_comune_catastale" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_porzione_materiale" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_subalterno" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="entita_pat_edilizia_dati_catastali_ctype">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="particella_fondiaria" type="epedatcat:particella_fondiaria_ctype" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="particella_edificiale" type="epedatcat:particella_edificiale_ctype" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:element name="dati_catastali" type="epedatcat:entita_pat_edilizia_dati_catastali_ctype"/>
</xsd:schema>
