pat_pnrr_ssu/moduli_pat/03_sections/sec_pat_edilizia_domicilio_digitale_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epedomdig="../02_entities/pat_edilizia_domicilio_digitale"
    xmlns:spedomdig="../03_sections/pat_edilizia_domicilio_digitale"
    targetNamespace="../03_sections/pat_edilizia_domicilio_digitale"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_domicilio_digitale" schemaLocation="../02_entities/ent_pat_edilizia_domicilio_digitale_v1.0.0.xsd"/>

    <xsd:complexType name="sezione_pat_edilizia_domicilio_digitale_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Domicilio digitale</xsd:documentation>
            <xsd:documentation xml:lang="it">PAT Domicilio elettronico</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="domicilio_digitale" type="epedomdig:entita_pat_edilizia_domicilio_digitale_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_pat_edilizia_domicilio_digitale" type="spedomdig:sezione_pat_edilizia_domicilio_digitale_ctype"/>
</xsd:schema>
