pat_pnrr_ssu/moduli_pat/03_sections/sec_pat_edilizia_oggetto_pratica_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:speoggpra="../03_sections/oggetto_pratica"
    targetNamespace="../03_sections/oggetto_pratica"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="sezione_pat_edilizia_oggetto_pratica_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Oggetto della pratica</xsd:documentation>
            <xsd:documentation xml:lang="it">Descrizione sintetica</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oggetto_pratica" type="ctipi:stringa_standard_stype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_pat_edilizia_oggetto_pratica" type="speoggpra:sezione_pat_edilizia_oggetto_pratica_ctype"/>
</xsd:schema>
