pat_pnrr_ssu/moduli_pat/03_sections/sec_pat_edilizia_dichiarazione_consapevolezza_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:spediccon="../03_sections/pat_edilizia_dichiarazione_consapevolezza"
    targetNamespace="../03_sections/pat_edilizia_dichiarazione_consapevolezza"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="sezione_pat_edilizia_dichiarazione_consapevolezza_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Dichiarazione di consapevolezza</xsd:documentation>
            <xsd:documentation xml:lang="it">ex art. 46 e 47 DPR 445/2000</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dichiarazione_consapevolezza" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Dichiara di essere consapevole che le dichiarazioni false, la falsità negli atti e l'uso di atti falsi comportano l'applicazione delle sanzioni penali previste dall'art. 76 del D.P.R. 445/2000 e la decadenza dai benefici eventualmente conseguenti al provvedimento emanato sulla base della dichiarazione non veritiera nonché il divieto di accesso a contributi, finanziamenti e agevolazioni per un periodo di 2 anni decorrenti da quando l'amministrazione ha adottato l'atto di decadenza, come previsto dall'art. 75 del D.P.R. 445/2000.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_pat_edilizia_dichiarazione_consapevolezza" type="spediccon:sezione_pat_edilizia_dichiarazione_consapevolezza_ctype"/>
</xsd:schema>
