pat_pnrr_ssu/moduli_pat/03_sections/sec_pat_edilizia_esecuzione_lavori_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epeimpese="../02_entities/pat_edilizia_impresa_escutrice"
    xmlns:epepers="../02_entities/pat_edilizia_persona"
    xmlns:epeindita="../02_entities/pat_edilizia_indirizzo_italiano"
    xmlns:epeindest="../02_entities/pat_edilizia_indirizzo_estero"
    xmlns:epecont="../02_entities/pat_edilizia_contatti"
    xmlns:speeselav="../03_sections/pat_edilizia_esecuzione_lavori"
    targetNamespace="../03_sections/pat_edilizia_esecuzione_lavori"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_impresa_escutrice" schemaLocation="../02_entities/ent_pat_edilizia_impresa_escutrice_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_persona" schemaLocation="../02_entities/ent_pat_edilizia_persona_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_indirizzo_italiano" schemaLocation="../02_entities/ent_pat_edilizia_indirizzo_italiano_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_indirizzo_estero" schemaLocation="../02_entities/ent_pat_edilizia_indirizzo_estero_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/pat_edilizia_contatti" schemaLocation="../02_entities/ent_pat_edilizia_contatti_v1.0.0.xsd"/>

    <xsd:complexType name="impresa_esecutrice_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Impresa esecutrice dei lavori</xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element name="titolare" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">IN ECONOMIA (trattasi di lavori eseguiti direttamente dal titolare del provvedimento senza intervento di imprese esecutrici dei lavori o di lavoratori autonomi)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="impresa" type="epeimpese:entita_pat_impresa_escutrice_ctype" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">CON LE IMPRESE / LAVORATORI AUTONOMI di seguito elencati</xsd:documentation>
                    <xsd:documentation xml:lang="it">Nel caso di subentro e/o integrazione di imprese/lavoratori autonomi nel cantiere sussiste l'obbligo di dare tempestiva comunicazione, ai sensi dell'art. 90 del D.Lgs. n. 81 del 2008</xsd:documentation>
                    <xsd:documentation xml:lang="it">Allegare FAC SIMILE “IMPRESA” (da scaricare, compilare e firmare)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="iscrizione_ordine_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Iscritto all'ordine, collegio, albo</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ordine_di" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="numero" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="contatti" type="epecont:entita_pat_edilizia_contatti_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="direttore_lavori_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Direttore dei lavori</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="dichiarante_direttore" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="it">colui che presenta la pratica</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:sequence>
                    <xsd:element name="altro_direttore" type="epepers:ent_pat_edilizia_persona_ctype" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="it">non è colui che presenta la pratica</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice minOccurs="1" maxOccurs="1">
                        <xsd:element name="residenza_italiana" type="epeindita:entita_pat_edilizia_indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="residenza_estera" type="epeindest:entita_pat_edilizia_indirizzo_estero_ctype" minOccurs="1" maxOccurs="1"/>
                    </xsd:choice>
                    <xsd:choice minOccurs="1" maxOccurs="1">
                        <xsd:element name="studio_italia" type="epeindita:entita_pat_edilizia_indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="studio_estero" type="epeindest:entita_pat_edilizia_indirizzo_estero_ctype" minOccurs="1" maxOccurs="1"/>
                    </xsd:choice>
                    <xsd:element name="iscrizione_ordine" type="speeselav:iscrizione_ordine_ctype" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element name="visione_relazioni" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Il direttore dei lavori ha preso conoscenza dei contenuti progettuali e della relazione geologica, geotecnica e idrogeologica eventualmente allegata al progetto nonché degli adempimenti relativi all'utilizzo delle terre e rocce da scavo. Nel caso di opere che comportano la realizzazione di manufatti soggetti a collaudo statico ed i relativi lavori comportano pregiudizio per la staticità del fabbricato devono essere osservati gli adempimenti ai sensi dell'art. 65 e dell'art. 93 del D.P.R. n. 380 di data 06/06/2001 e ai fini dell'art. 68 del regolamento di esecuzione della l.p. 15/2015. Il direttore dei lavori ha preso conoscenza dei contenuti progettuali e della relazione geologica, geotecnica e idrogeologica eventualmente allegata al progetto nonché degli adempimenti relativi all'utilizzo delle terre e rocce da scavo</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="progettista_lavori_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Altro progettista dei lavori</xsd:documentation>
            <xsd:documentation xml:lang="it">Ai sensi della D.G.P. n. 3110/2009 il proprietario dell'edificio o chi ne ha titolo, prima dell'inizio dei lavori, affida ad un soggetto certificatore, iscritto negli elenchi dei professionisti abilitati di cui all'art. 8 del D.P.P. 11-13/Leg. del 13 luglio 2009, recante "Disposizioni regolamentari in materia di edilizia sostenibile in attuazione del titolo IV della l.p. 1/2008", l'incarico di redigere l'Attestato di certificazione energetica.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="incaricato_della" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="altro_progettista" type="epepers:ent_pat_edilizia_persona_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="residenza_italiana" type="epeindita:entita_pat_edilizia_indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="residenza_estera" type="epeindest:entita_pat_edilizia_indirizzo_estero_ctype" minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="studio_italia" type="epeindita:entita_pat_edilizia_indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="studio_estero" type="epeindest:entita_pat_edilizia_indirizzo_estero_ctype" minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
            <xsd:element name="iscrizione_ordine" type="speeselav:iscrizione_ordine_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sezione_pat_edilizia_esecuzione_lavori_ctype">
        <xsd:sequence>
            <xsd:element name="impresa_esecutrice" type="speeselav:impresa_esecutrice_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="direttore_lavori" type="speeselav:direttore_lavori_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="progettista_lavori" type="speeselav:progettista_lavori_ctype" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_pat_edilizia_esecuzione_lavori" type="speeselav:sezione_pat_edilizia_esecuzione_lavori_ctype"/>
</xsd:schema>
