pat_pnrr_ssu/moduli_pat/03_sections/sec_pat_edilizia_comunicazione_inizio_lavori_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccodelist="../commons/codelist"
    xmlns:cdichiara="../commons/dichiarazioni"
    xmlns:ctipi="../commons/tipi"
    xmlns:canncl="../commons/xsdAnnotations"
    xmlns:epeindita="../02_entities/indirizzo_italiano"
    xmlns:epedatcat="../02_entities/dati_catastali"
    xmlns:eperifpdc="../02_entities/riferimenti_pdc"
    xmlns:specil="../03_sections/comunicazione_inizio_lavori"
    targetNamespace="../03_sections/comunicazione_inizio_lavori"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    version="1.0.0"
    xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/dichiarazioni" schemaLocation="../commons-dichiarazioni.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="../02_entities/ent_pat_edilizia_indirizzo_italiano_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/dati_catastali" schemaLocation="../02_entities/ent_pat_edilizia_dati_catastali_v1.0.0.xsd"/>
    <xsd:import namespace="../02_entities/riferimenti_pdc" schemaLocation="../02_entities/ent_pat_edilizia_riferimenti_pdc_v1.0.0.xsd"/>

    <xsd:complexType name="sezione_pat_edilizia_comunicazione_inizio_lavori_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">PAT Comunicazione Inizio Lavori</xsd:documentation>
            <xsd:documentation xml:lang="it">Art. 83, c. 3 della legge provinciale 4 agosto 2015, n. 15</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="comune" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Segnala all'ufficio tecnico del Comune di:</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzo_italiano" type="epeindita:entita_pat_edilizia_indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Localizzazione dell'intervento</xsd:documentation>
                    <xsd:documentation xml:lang="it">ATTENZIONE - l'ubicazione dell'attività o intervento coincide con il Comune a cui è destinata la pratica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dati_catastali" type="epedatcat:entita_pat_edilizia_dati_catastali_ctype" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Dati catastali</xsd:documentation>
                    <xsd:documentation xml:lang="it">Per le particelle edificiali non anteporre punteggiatura ai numeri ed in caso di particelle con denominatore inserire numeratore/denominatore (esempio p.ed. .12/3 inserire nel campo 12/3)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="riferimenti_pdc" type="eperifpdc:entita_pat_edilizia_riferimenti_pdc_ctype" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="it">Riferimenti al permesso di costruire</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_pat_edilizia_comunicazione_inizio_lavori" type="specil:sezione_pat_edilizia_comunicazione_inizio_lavori_ctype"/>
</xsd:schema>
